beautifulsoup4==4.8.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.5
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
djangorestframework==3.10.3
idna==2.8
pytz==2019.2
requests==2.22.0
soupsieve==1.9.4
sqlparse==0.3.0
urllib3==1.25.6
