appnope==0.1.2
backcall==0.1.0
beautifulsoup4==4.8.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
Django==2.2.20
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
djangorestframework==3.11.2
gunicorn==20.0.4
idna==2.8
ipdb==0.13.2
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
mock==4.0.2
oauthlib==3.1.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.7.0
pycparser==2.19
Pygments==2.6.1
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.4
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
