<!DOCTYPE html>
{#{% extends 'bike_app/index.html' %}#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Ride</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRno82ql3ddF-YqQfknHSBNFmAb0KwaJg&libraries=places&callback=initMap"async defer></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bike_app/css/find_ride.css">
    {% load static %}
    <style>
        #map {
            height: calc(100vh - 60px);
            width: 50%;
            margin-left: auto;

        }
    </style>
</head>
<body>
<!--Header-->
    <header class="page-width">
        <div class="clearfix">
            <em class="name">
                <a href="/">POOL YOUR BIKE</a>
            </em>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/find_ride">Find Bike</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer_ride">Offer Ride</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">signup</a>
                    </li> -->
                </ul>
            </nav>
        </div>      
    </header>


<!--Find Ride Form--> 
    <div class="form-container">
        <form class="form-horizontal" action="/find_ride/" method="POST">
            <div class="pickup-dropoff-container clearfix">
                <div class="form-group">
                    <div class="col-sm-6">
                        {{ form.pickup }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        {{ form.dropoff }}
                    </div>
                </div>
            </div>

<!--            <div class="date-time-submit-container clearfix">-->
<!--                <div class="form-group has-feedback" id="date-and-time">-->
<!--                    <div class="date-time-header data-block">-->
<!--                        <h4 style="display: inline; ">Date and time</h4>-->
<!--                    </div>-->
<!--                    {% load bootstrap4 %}-->
<!--                    {% bootstrap_css %}-->
<!--                    {% bootstrap_javascript jquery='full' %}-->
<!--                    {{ form.date }}-->
<!--                    {{ form.time }}-->
<!--                    {{ form.media }}{# Adds date-picker required JS and CSS #}-->
<!--                </div>-->

<!--                 <div class="form-group-submit">-->
<!--                    <div class="col-sm-offset-2 col-sm-10">-->
<!--                        <button type="submit" class="btn btn-default" id="sumbit-button">Search</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="date-time-submit-container clearfix">
                <div class="form-group has-feedback" id="date-and-time">
                    <div class="date-time-header data-block">
                        <h4 style="display: inline; ">Date and time</h4>
                    </div>
                    <label style="display: block; padding-left: 15px;" class="departure-date-time clearfix"></label>
                    <div class="col-sm-6 clearfix">
                        <!-- <input type="text" class="form-control" id="datetimepicker1 clearfix" name="datetimepicker1" style="float: left;" />
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i> -->


                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="datetimepicker-departure"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <!-- <label style="display: block; padding-left: 15px" class="arrival-date-time clearfix">Arrival Date & Time
                    </label>
                        <div class="col-sm-6 clearfix">
                            <input type="text" class="form-control" id="datetimepicker1 clearfix" name="datetimepicker" style="float: left;" />
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        </div> -->

                </div>

                <!-- <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember">Round trip</label>
                        </div>
                    </div>
                </div> -->


                <div class="form-group-submit">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="search-button-class" id="submit-button">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div id="map"></div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
    </div>
</body>

<script>

    function initMap() {

        var input = document.getElementById('id_pickup');
        var dropoff = document.getElementById('id_dropoff');
        var autocomplete_pickup = new google.maps.places.Autocomplete(input);
        var autocomplete_dropoff = new google.maps.places.Autocomplete(dropoff);


    };
</script>
<script>
    $("#submitbutton").click(function() {

        var csrf_token = '{{csrf_token}}';
        var pickup = new google.maps.places.Autocomplete($("#id_pickup").val());
        var dropoff = $("#id_dropoff").val();
        var date = $("#id_date").val();
        var time = $("#id_time").val();

        $.ajax({
            headers: { "X-CSRFToken": csrf_token },
            type: "POST",
            url: "/find_ride",
            async: true,
            data: {
                pickup: pickup,
                dropoff: dropoff,
                date: date,
                time: time
            },
            success: function(data) {

                console.log('Success');
            }
         })
    });
</script>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

</html>

