<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIKE_POOL_APP</title>
    <link rel="stylesheet" href="../static/bike_app/css/homepage.css">
</head>
<body>
<!-- Navbar brand -->
	<header class="page-width">
		<div class="clearfix">
			<em class="name">
				POOL YOUR BIKE
			</em>
			<nav>
				<ul>
					<li class="nav-item">
					    <a class="nav-link" href="find_ride.html">Find Ride</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="offer_ride.html">Offer Ride</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="signup.html">Sign Up</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="login.html">Log in</a>
					</li>
				</ul>
			</nav>
		</div>		
	</header>


<!--Main Visual-->

	<div class="page-visual">
		<figure class="main-visual">
			<img src="https://place-hold.it/1047x592">
				<a href="/find_ride">Find Bike</a>
		</figure>
	</div>
</body>
</html>