<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
	<script type="text/javascript" src="../static/bike_app/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/bike_app/css/login.css">
	<title>Login Page</title>
</head>
<body>
<!--Header-->
	<header class="page-width">
		<div class="clearfix">
			<em class="name">
				POOL YOUR BIKE
			</em>
			<nav>
				<ul>
					<li class="nav-item">
					    <a class="nav-link" href="/find_ride">Find Bike</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/offer_ride">Offer Ride</a>
					</li>
					<!-- <li class="nav-item">
					    <a class="nav-link" href="#">Login</a>
					</li> -->
				</ul>
			</nav>
		</div>		
	</header>

<!--Login Container-->

	<div class="login-container">
		<div class="login-box">
			<h2 class="login-title">LOG IN</h2>
				<form class="login-form data-block">
					{% csrf_token %}
					{{ form.email }}
					{{ form.password }}
				</form>
				<div class="login-submit-button">
					<button class="login-submit-text">LOG IN</button>
				</div>
		</div>
	</div>
	<!-- <a href="{% url "social:begin" "google-oauth2" %}">Google+</a> -->
</body>
</html>