<!DOCTYPE html>
<html lang="en">
<head>
    <title>Offer Ride</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bike_app/js/offer_ride.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdxHAyALpK_IyWNqoCIryUYpoeTiDgdo&libraries=places&callback=initMap"
            async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bike_app/css/offer_ride.css">
    {% load static %}
</head>
<body>


<!--Header-->
    <header class="page-width">
        <div class="clearfix">
            <em class="name">
                <a href="/">POOL YOUR BIKE</a>
            </em>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/find_ride">Find Ride</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer_ride">Offer Ride</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">signup</a>
                    </li> -->
                </ul>
            </nav>
        </div>      
    </header>



<style>
    #map {
        height: calc(100vh - 60px);
        width: 50%;
        margin-left: auto;
    }


</style>

<div class="form-container">
    <form class="form-horizontal" action="http://127.0.0.1:8000/offer_ride/" method="POST">
        {% csrf_token %}
        <div class="departure-arrival-stopover-container clearfix">
            <div class="form-group">
                <label class="control-label col-sm-2">Departure Location</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="id_pickup" placeholder="Enter starting location"
                           name="depart">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Arrival Location</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="id_dropoff" placeholder="Enter ending location"
                           name="arrival">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">StopOvers:</label>
                <div class="col-sm-6">
                    <div class="col-sm-6" id="dynamicInput">
                        <input type="text" name="stopover_0" id="stopover_0" placeholder="Stopover location" class="form-control stopover">
                    </div>

                    <!--Add Stopover button-->
                    <div>
                        <input type="button" value="Add stopover" id="stopover-button">
                    </div>
                </div>
            </div>
        </div>



        <div class="date-time-submit-container clearfix">
            <div class="form-group has-feedback" id="date-and-time">
                <div class="date-time-header data-block">
                    <h4 style="display: inline;">Date and time</h4>
                    <label style="float: right;"><input type="checkbox" name="is_return" id="checkbox"/>Round trip</label>
                </div>
                <div class="departure-date-time-block clearfix">
                    <label style="display: block; padding-left: 15px;" class="departure-date-time clearfix">Departure Date & Time</label>
                    <div class="col-sm-6 clearfix">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="datetimepicker-departure" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-submit">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="submit-button-class" id="sumbit-button">Submit</button>
                    </div>
            </div>
        </div>
    </form> 
</div>
<div id="map"></div>
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
</div>


<script>
    function initMap() {
        var input = document.getElementById('id_pickup');
        var dropoff = document.getElementById('id_dropoff');
        var stopovers = document.getElementById('id_stopovers');
        var autocomplete_pickup = new google.maps.places.Autocomplete(input);
        var autocomplete_dropoff = new google.maps.places.Autocomplete(dropoff);
        var autocomplete_stopovers = new google.maps.places.Autocomplete(stopovers);
    };

    function addDateandTime(divName){
        var addHTMLstring = '<div class="arrival-date-time-block"><label style="text-align: left; display: block; padding-left: 15px" id="arrival-date-time-label">Arrival Date & Time</label><div class="col-sm-6 clearfix"><div class="form-group"><div class="input-group date" id="datetimepicker2"><input type="text" class="form-control" name="datetimepicker-arrival"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div></div>';
        document.getElementById(divName).insertAdjacentHTML('beforeend', addHTMLstring);

<!--        var script = document.createElement('script');-->
<!--        script.type = 'text/javascript';-->
<!--        script.src = '../static/bike_app/js_func.js'-->
<!--        $('head').append(script);-->


        console.log('Arrival date & time panel added');

    }

</script>
</body>
</html>



















