<!DOCTYPE html>
<html lang="en">
<head>
    <title>Offer Ride</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdxHAyALpK_IyWNqoCIryUYpoeTiDgdo&libraries=places&callback=initMap"
            async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bike_app/offer_ride.css">
    {% load static %}
</head>
<body>


<!--Header-->
    <header class="page-width">
        <div class="clearfix">
            <em class="name">
                <a href="/">POOL YOUR BIKE</a>
            </em>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/find_ride">Find Bike</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer_ride">Offer Ride</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">signup</a>
                    </li> -->
                </ul>
            </nav>
        </div>      
    </header>



<style>
    #map {
        height: calc(100vh - 60px);
        width: 50%;
        margin-left: auto;
    }


</style>

<div class="form-container">
    <form class="form-horizontal" action="http://127.0.0.1:8000/offer_ride/" method="POST">
        {% csrf_token %}
        <div class="departure-arrival-stopover-container    clearfix">
            <div class="form-group">
                <label class="control-label col-sm-2">Departure Location</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="id_pickup" placeholder="Enter starting location"
                           name="depart">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Arrival Location</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="id_dropoff" placeholder="Enter ending location"
                           name="arrival">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">StopOvers:</label>
                <div class="col-sm-6">
                    <div class="col-sm-6" id="dynamicInput">
                        <input type="text" name="stopover_0" placeholder="Enter stopover location" class="form-control">
                    </div>


                    <!--Add Stopover button-->
                    <div>
                        <input type="button" value="Add stopover" onClick="addInput('dynamicInput');" id="stopover-button" style="">
                    </div>
                </div>
            </div>
        </div>



        <div class="date-time-submit-container clearfix">
            <div class="form-group has-feedback" id="date-and-time">
                <div class="date-time-header data-block">
                    <h4 style="display: inline; ">Date and time</h4>
                    <label style="float: right;"><input type="checkbox" name="remember" id="checkbox" onclick="isChecked();" />Round trip</label>
                </div>
                <label style="display: block; padding-left: 15px" class="departure-date-time clearfix">Departure Date & Time
                </label>
                <div class="col-sm-6 clearfix">
                    <input type="text" class="form-control" id="datetimepicker1 clearfix" name="datetimepicker" style="float: left;" />
                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                </div>
                <!-- <label style="display: block; padding-left: 15px" class="arrival-date-time clearfix">Arrival Date & Time
                </label>
                    <div class="col-sm-6 clearfix">
                        <input type="text" class="form-control" id="datetimepicker1 clearfix" name="datetimepicker" style="float: left;" />
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    </div> -->

            </div>  

            <!-- <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember">Round trip</label>
                    </div>
                </div>
            </div> -->


            <div class="form-group-submit">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="sumbit-button">Submit</button>
                </div>
            </div>
        </div>
    </form> 
</div>
<div id="map"></div>
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
</div>


<script>
    function initMap() {
        var input = document.getElementById('id_pickup');
        var dropoff = document.getElementById('id_dropoff');
        var stopovers = document.getElementById('id_stopovers');
        var autocomplete_pickup = new google.maps.places.Autocomplete(input);
        var autocomplete_dropoff = new google.maps.places.Autocomplete(dropoff);
        var autocomplete_stopovers = new google.maps.places.Autocomplete(stopovers);
    };


    var counter = 1;
    var limit = 4;

    function addInput(divName) {

        var newdiv = document.createElement('div');
        newdiv.innerHTML = "<input type='text' name='stopover_" + counter + "' placeholder='Enter stopver location' class='form-control'>";
        // if counter <= limit {
        //     document.getElementById(divName).appendChild(newdiv);
        //     counter++;
        // };
        document.getElementById(divName).appendChild(newdiv);
        console.log('Function executed');
    }


    function addDateandTime(divName){
        var addHTMLstring = '<label style="text-align: left; display: block; padding-left: 15px" id="arrival-date-time-label">Arrival Date & Time</label><div class="col-sm-6-arrival-date-and-time" id="arrival-date-time-div"><input type="text" class="form-control" name="datetimepicker"/><i class="glyphicon glyphicon-calendar form-control-feedback"></i></div>';
        document.getElementById(divName).insertAdjacentHTML('beforeend', addHTMLstring);
        console.log('Arrival date & time panel added');

    }


    function isChecked(){
        if (document.getElementById('checkbox').checked)
        {
            addDateandTime('date-and-time');
        }
        else
        {
            var label = document.getElementById('arrival-date-time-label');
            document.getElementById('date-and-time').removeChild(label);
            var div = document.getElementById('arrival-date-time-div');
            document.getElementById('date-and-time').removeChild(div);


        }
    }





$('#stopover-button').click(function(){
        $('.departure-arrival-stopover-container').css({'height' : '+=25px'});
        
        console.log('Height is increased');
    });



$('#checkbox').change(function(){
        if(this.checked){
            $('.date-time-submit-container').css({'height' : '+=100px'});
            $('.form-group-submit').css({'top' : '+=40px'});
            console.log('Height is increased and padding is added');
        } 
        else{
            $('.date-time-submit-container').css({'height' : '-=100px'});
            $('.form-group-submit').css({'top' : '-=40px'});
            console.log('Height and padding decreased');

        }   
    });


// $('#checkbox').click(addDateandTime('form-group has-feedback'){
//         console.log('Arrival Date and time panel added');
//     });

    
</script>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>


</body>
</html>



















