<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Rides</title>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bike_app/css/show_rides.css">
    {% load static %}
</head>
<body>
<!--Header-->
    <header class="page-width">
        <div class="clearfix">
            <em class="name">
                <a href="/">POOL YOUR BIKE</a>
            </em>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/find_ride">Find Ride</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer_ride">Offer Ride</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<!--Module-->
</body>
</html>