<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/bike_app/signup.css">
	<title>Signup Page</title>
</head>
<body>
<!--Header-->
	<header class="page-width">
		<div class="clearfix">
			<em class="name">
				POOL YOUR BIKE
			</em>
			<nav>
				<ul>
					<li class="nav-item">
					    <a class="nav-link" href="/find_ride">Find Bike</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/offer_ride">Offer Ride</a>
					</li>
					<!-- <li class="nav-item">
					    <a class="nav-link" href="#">signup</a>
					</li> -->
				</ul>
			</nav>
		</div>		
	</header>

<!--signup Container-->

	<div class="signup-container">
		<div class="signup-box">
			<h2 class="signup-title">SIGN UP</h2>
				<form class="signup-form data-block" method="POST" action="/signup">
					{% csrf_token %}
					{{ form.firstname }}
					{{ form.lastname }}
					{{ form.email }}
					{{ form.password }}
				</form>
				<div class="signup-submit-button">
					<button class="signup-submit title" type="submit">REGISTER</button>
				</div>
				<div class="login-redirection-container">
					<p>Already a member <a href="/login" class="login-redirection-href">Login!</a></p>
					
				</div>
		</div>
	</div>
	<!-- <a href="{% url "social:begin" "google-oauth2" %}">Google+</a> -->
</body>
</html>